@import "./Styles.view.less";

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
}

.Frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 16em * 3;
    height: 9em * 3;
    font-size: 1em / 3;
    margin: auto;
    position: fixed;
    overflow: hidden;

    background-color: green;
}

.TitleScreen {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
    background-color: orange;

    
}

.LevelSelectScreen {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
    background-color: blue;

    font-size: 2em;

    .SelectableLevel {
        &:hover {
            color: red;
        }
    }
}

.GameScreen {
    padding: 1em;
    color: @white;
    font-family: @fonts;

    * {
        cursor: grab;
    }
    &[hasSelectedItem] {
        * {
            cursor: grabbing !important;
        }
    }
}

.CookbookSpace {
    top: 0em;
    left: 0em;
    width: 15em;
    bottom: 0em;
    position: absolute;
    padding: 1em;
    background-color: #444;
    div {
        margin-bottom: 1em / @golden-ratio;
    }
}

.CookingSpace {
    top: 0em;
    left: 15em;
    right: 0em;
    bottom: 0em;
    padding: 1em;
    position: absolute;

    .Selected.Item {
        position: fixed !important;
        pointer-events: none !important;
    }

    .Item {
        position: absolute;
        text-align: center;

        &[isSelectable] {
            cursor: pointer;
        }

        &[isSelected] {
            display: none;
        }
    }

    #Stove {
        width: 10em;
        height: 10em;

        background-color: black;

        &[position=Default] {
            top: 5em;
            left: 10em;
        }
    }

    #Sink {
        width: 5em;
        height: 5em;

        background-color: #AAA;

        &[position=Default] {
            top: 5em;
            left: 21em;
        }
    }

    #CuttingBoard {
        width: 10em;
        height: 5em;

        border-radius: 1em;
        background-color: #784c2c;

        &[position=Default] {
            top: 20em;
            left: 10em;
        }
    }

    #Pot {
        width: 5em;
        height: 5em;
        position: absolute;
        margin-top: -2.5em;
        margin-left: -2.5em;

        border-radius: 100%;
        background-color: gray;

        &[position=Default] {
            left: 10em;
            top: 10em;
        }
    }

    #Onions {
        &[cuts="0"] {
            &:after {
                content: "Onions";
            }
        }
        &[cuts="1"] {
            &:after {
                content: "Oni ons";
            }
        }
        &[cuts="2"]:after {
            content: "O ni ons";
        }
        &[cuts="3"]:after {
            content: "O ni on s";
        }

        &[position=Default] {
            top: 1em;
        }

        &[position=CuttingBoard] {
            top: 23em;
            left: 12em;
        }
    }

    #Carrots {
        &[cuts="0"] {
            &:after {
                content: "Carrots";
            }
        }
        &[cuts="1"] {
            &:after {
                content: "Ca rrots";
            }
        }
        &[cuts="2"] {
            &:after {
                content: "Ca rr ots";
            }
        }
        &[cuts="3"] {
            &:after {
                content: "Ca rr ot s";
            }
        }


        &[position=Default] {
            top: 3em;
        }
        &[position=CuttingBoard] {
            top: 23em;
            left: 12em;
        }

        color: orange;
    }

    #Garlic {
        &::after {
            content: "Garlic";
        }

        &[position=Default] {
            top: 5em;
        }
        &[position=CuttingBoard] {
            top: 23em;
            left: 12em;
        }
    }

    #Beef {
        color: brown;
        &::after {
            content: "Beef";
        }

        &[position=Default] {
            top: 9em;
        }
        &[position=CuttingBoard] {
            top: 23em;
            left: 12em;
        }
    }

    #Salt {
        &::after {
            content: "Salt";
        }

        &[position=Default] {
            top: 7em;
        }
    }

    #Knife {
        &::after {
            content: "Knife";
        }

        &[position=Default] {
            top: 11em;
        }
    }
}
