@import "./Styles.view.less";

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
}

.MainScreen {
    padding: 1em;
    color: @white;
    font-family: @fonts;
}
