@import "./Styles.view.less";

.Mount {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
}

.Frame {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 16em * 3;
    height: 9em * 3;
    font-size: 1em / 3;
    margin: auto;
    position: fixed;
    overflow: hidden;
}

.TitleScreen {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
    background-color: orange;
}

.LevelSelectScreen {
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    position: absolute;
    background-color: green;

    font-size: 2em;

    .SelectableLevel {
        &:hover {
            color: red;
        }
    }
}

.GameScreen {
    padding: 1em;
    color: @white;
    font-family: @fonts;

    background-image: url("../images/blocking.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;

    * {
        cursor: pointer;
    }
    &[hasSelectedItem] {
        * {
            cursor: grabbing !important;
        }
    }

    .CookbookSpace {
        left: 38.51em; top: 0.73em;
        width: 45.13em - 37.77em;
        height: 10.75em - 0.03em;

        padding: 0.33em;
        position: absolute;
        text-align: right;

        p {
            font-size: 0.66em;
            margin-bottom: 1em / @golden-ratio;
        }
    }

    .CookingSpace {
        position: absolute;

        .Item {
            position: absolute;
            text-align: center;

            &[isGone] {
                display: none;
            }

            &[isSelectable] {
                cursor: grab;
            }

            &[isSelected] {
                display: none;
            }

            &[isPaused] {
                pointer-events: none !important;
            }
        }

        .Selected.Item {
            position: fixed !important;
            pointer-events: none !important;
        }

        #Stove {
            width: 6em;
            height: 6em;
            margin-top: 6em / -2;
            margin-left: 6em / -2;
            border-radius: 100%;

            background-color: black;

            &[position=Default] {
                left: 28.26em; top: 16.82em;
            }
        }

        #Sink {
            width: 5em;
            height: 5em;

            background-color: #AAA;

            &[position=Default] {
                top: 5em;
                left: 21em;
            }
        }

        #CuttingBoard {
            width: 9em;
            height: 7em;

            border-radius: 1em;
            background-color: #784c2c;

            &[position=Default] {
                left: 14.39em; top: 13.75em;
            }
        }

        #Pot {
            width: 5em;
            height: 5em;
            position: absolute;
            margin-top: -2.5em;
            margin-left: -2.5em;

            border-radius: 100%;
            background-color: gray;

            &[position=Default] {
                left: 28.26em; top: 16.82em;
            }
        }

        #Onion {
            width: 4em;
            height: 1em;
            color: white;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            &[cuts="0"] {
                &:after {
                    content: "Onion";
                }
            }
            &[cuts="1"] {
                &:after {
                    content: "On ion";
                }
            }
            &[cuts="2"]:after {
                content: "On i on";
            }

            &[position=Default] {
                top: 13.13em;
                left: 4.93em;
            }
            &[position=CuttingBoard] {
                left: 18.69em; top: 16.16em;
            }
            &[position=Pot] {
                left: 29.20em; top: 18.03em;
            }
        }

        #GreenPepper {
            width: 4em;
            height: 1em;
            color: green;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            &[cuts="0"] {
                &:after {
                    content: "Pepper";
                }
            }
            &[cuts="1"] {
                &:after {
                    content: "Pe pper";
                }
            }
            &[cuts="2"] {
                &:after {
                    content: "Pe pp er";
                }
            }

            &[position=Default] {
                top: 17.87em;
                left: 5em;
            }
            &[position=CuttingBoard] {
                left: 18.69em; top: 16.16em;
            }
            &[position=Pot] {
                left: 26.87em; top: 17.97em;
            }
        }

        #Tomato {
            width: 4em;
            height: 1em;
            color: red;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            &[cuts="0"] {
                &:after {
                    content: "Tomato";
                }
            }
            &[cuts="1"] {
                &:after {
                    content: "To mato";
                }
            }
            &[cuts="2"] {
                &:after {
                    content: "To ma to";
                }
            }

            &[position=Default] {
                top: 22.33em;
                left: 4.73em;
            }
            &[position=CuttingBoard] {
                left: 18.69em; top: 16.16em;
            }
            &[position=Pot] {
                left: 27.01em; top: 15.62em;
            }
        }

        #Egg {
            width: 4em;
            height: 1em;
            color: white;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            color: yellow;
            &::after {
                content: "Egg";
            }

            &[position=Default] {
                left: 10.13em; top: 17.80em;
            }
            &[position=CuttingBoard] {
                left: 18.69em; top: 16.16em;
            }
            &[position=Pot] {
                left: 28.26em; top: 16.82em;
            }
        }

        #Oil {
            width: 4em;
            height: 1em;
            color: white;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            &::after {
                content: "Oil";
            }

            &[position=Default] {
                left: 42.13em; top: 13.63em;
            }
            &[position=Pot] {
                left: 28.26em; top: 16.82em;
            }

            &[status=StirFry] {
                &::after {
                    content: "Stir Fry";
                }
            }

            &[status=Shakshoka] {
                &::after {
                    content: "Shakshoka";
                }
            }
        }

        #Salt {
            width: 4em;
            height: 1em;
            color: white;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            &::after {
                content: "Salt";
            }

            &[position=Default] {
                top: 22em;
                left: 42.67em;
            }
            &[position=Pot] {
                left: 28.26em; top: 16.82em;
            }
        }

        #Spoon {
            width: 4em;
            height: 1em;
            color: white;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            &::after {
                content: "Spoon";
            }

            &[position=Default] {
                left: 38.53em; top: 18.63em;
            }
        }

        #Knife {
            width: 4em;
            height: 1em;
            color: white;
            background-color: black;
            margin-left: 4em / -2;
            margin-top: 1em / -2;

            &::after {
                content: "Knife";
            }

            &[position=Default] {
                top: 18.53em;
                left: 35.07em;
            }
        }
    }
}
